body {
  font-family: "ibm plex sans", sans-serif;
  color: hsl(0, 0%, 25%);
  background-color: hsl(0, 0%, 97%);
  font-size: 100%;
  line-height: 1.6875;
}
td {
  padding: 2px 10px;
}

table {
  border-collapse: collapse;
}

td:first-child {
  text-align: right;
}

td:nth-child(2) {
  text-align: left;
}

tbody {
  padding: 10px;
}

th {
  text-align: left;
  padding-bottom: 10px;
}

h1 {
  font-size: 3em;
}
#tables {
  display: flex;
  justify-content: space-evenly;
}

#image {
  display: block;
  max-width: 100%;
  margin: auto;
}

#img-caption {
  font-size: 0.8em;
  color: hsl(0, 0%, 50%);
  width: 100%;
  margin: 3px auto;
  display: block;
  text-align: center;
}

#main {
  margin-left: 15%;
  margin-right: 15%;
}

#title {
  text-align: center;
  /* text-transform: uppercase; */
  /* font-family: "IBM Plex Serif", serif; */
}

#tribute-text {
  font-family: "ibm plex serif", serif;
  margin-top: 2em;
  margin-bottom: 2.5em;
}
#tribute-link-div {
  margin-top: 2em;
}
